<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiblioMart-Home</title>
    <link rel="stylesheet" href="./stylesheets/home.css">
</head>
<body>
    <div class="navbar">
        <nav>
            <span><img width="40" src="./images/BIBLIO stuffed.png" alt=""></span>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>

    <div class="text">
        <div class="t1" id="title">
            <!-- BiblioMart -->
        </div>
        <div class="t2" id="subtitle">
            <!-- Buy and sell new or used books with ease on our platform. Find the books you've been searching for or make some extra cash by selling your own. -->
        </div>
        <div class="sec">
            <a href="/buy"><button class="btnr1">Browse Books</button></a>
            <a href="/seller"><button class="btnr2">Sell Books</button></a>
            
        </div>
    </div>
    <script src="./scripts/script_home.js"></script>
</body>
</html>
