@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Playwrite+NL:wght@100..400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto; */
    font-family: "Play", sans-serif;
    font-size: 17px;
}

body {
    background: #200122;
    background: -webkit-linear-gradient(to right, #6f0000, #200122);
    background: linear-gradient(to right, #6f0000, #200122);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.custom-file-label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #a4891d;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.file-input-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}

.file-input {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.custom-file-label:hover {
    background-color: #d4b52be0;
}

.input.ct {
    background-color: #6a8123;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.input.ct:hover {
    background-color: #c1ee51c6;
}